<script>
  app.value('translationData', <%= raw @translation.javascript_object %>);
</script>

<%= form_for(@translation, html: {'ng-controller' => 'translationController as translation' }) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <translation-segment></translation-segment>

  <div class="field">
    <%= f.label :translation_segments %><br>
    <%= f.text_area :translation_segments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
