<% content_for(:ng_controller, 'translationController as translation') %>
<% content_for(:body_class, 'global-events') %>

<script>
  app.value('analysis', <%= raw @translation.analysis %>);
  app.value('documentAnalysis', <%= raw @translation.document.tree %>)
</script>

<%= form_for [@document, @translation] do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <translation></translation>

  <div class="field">
    <%= f.label :analysis %><br>
    <%= f.text_area :analysis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
