<% content_for :ng_controller, "showDocumentController" %>

<h1><%= @document.title %></h1>

<p>
  jan <%= @document.user.username %> li pali e ni.
  <br>
  <small>by <%= @document.user.username %></small>
</p

<p>
  <div id="text" class="syntax-highlight"><tp-sentence ng-repeat="sen in documentAnalysis" sen="sen"><%= @document.original_text %></tp-sentence></div>
</p>


<%= link_to 'Translate', new_document_translation_path(@document) %> |
<% if @document.user == current_user %>
<%= link_to 'Edit', edit_document_path(@document) %> | 
<% end %>
<%= link_to 'Back', documents_path %>

<script>
app.value('documentAnalysis', <%= raw(@document.tree) %>);

window.jsonObj = <%= raw(@document.tree) %>;
window.orig = '<%= j(@document.original_text) %>';
console.log(window.orig)
</script>
