<p id="notice"><%= notice %></p>

<h1><%= @document.title %></h1>

<p>
  jan <%= @document.user.username %> li pali e ni.
  <br>
  <small>by <%= @document.user.username %></small>
</p>

<p>
  <div id="text" class="syntax-highlight"><%= @document.original_text %></div>
</p>

<% if user_signed_in? %>
<%= link_to 'Translate', new_document_translation_path(@document) %> |
<% end %>
<% if @document.user == current_user %>
<%= link_to 'Edit', edit_document_path(@document) %> | 
<% end %>
<%= link_to 'Back', documents_path %>

<script>
window.jsonObj = <%= raw(@document.json) %>;
$(function() {
$('#text').html(syntaxHighlight(<%= raw(@document.json) %>));
});
window.orig = '<%= j(@document.original_text) %>';
console.log(window.orig)
</script>