<!DOCTYPE html>
<html ng-app="tokiponaTranslator">
<head>
  <title>Translate Toki Pona</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body class="<%= yield(:body_class) %>">

	<header>
		<% if user_signed_in? %>
			<p>jan <%= current_user.username %> o, toki!</p>
			<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
		<% else %>
			<%= link_to 'Log in', new_user_session_path %>
			<%= link_to 'Sign up', new_user_registration_path %>
		<% end %>
	</header>

	<% flash.each do |key, msg| %>
	<section class="flash">
		<p class="<%= key %>"><%= msg %></p>
	</section>
	<% end %>

 <div class="main-wrapper">
	<%= yield %>
 </div>

</body>
</html>
